<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456310101334-pucveajv1gg5oe0vtm66crp0i52gouun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456310101334-pucveajv1gg5oe0vtm66crp0i52gouun</string>
	<key>API_KEY</key>
	<string>AIzaSyAMNsFcB1UziMgfFzouPCVHlaLgTWIX8YA</string>
	<key>GCM_SENDER_ID</key>
	<string>456310101334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authFirebase</string>
	<key>PROJECT_ID</key>
	<string>ahedtest-29555</string>
	<key>STORAGE_BUCKET</key>
	<string>ahedtest-29555.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456310101334:ios:0427fbaa06ca659c6732f7</string>
</dict>
</plist>